<div class="home-page" ng-controller="HomeController as ctrl">
    <h1 class="home-page__main-title"><span class="home-page__main-title home-page__main-title--highlight">Rock Paper Scissors</span></h1>
    <h2 class="home-page__secondary-title">Your classic childhood game</h2>

    <div class="content">
      <input class="content__input" type="text" value="enter name" id="name" ng-model="player">
      <button class="button" type="button" ng-click="ctrl.startGame(player)" id="start-game">PSST, ENTER NAME</button>
  </div>
</div>
