<div class="home-page" ng-controller="HomeController as ctrl">
    <h1 class="home-page__main-title"><span class="home-page__main-title home-page__main-title--highlight">Rock Paper Scissors</span></h1>
    <h2 class="home-page__secondary-title">Your favourite childhood game</h2>

    <div class="content">
      <h3 class="content__title"><span class="content__title content__title--highlight">Enter your name to play</span></h3>
      <input class="content__input" type="text" id="name" ng-model="player">
      <button class="button" type="button" ng-click="ctrl.startGame(player)" id="start-game">Start</button>
  </div>
</div>
