/* Global Imports */
/* --------------------------------------------------
Base Imports
 -------------------------------------------------- */
body {
  background-image: url("../img/squared_paper.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  position: relative;
  font-family: 'Cutive Mono', monospace;
  overflow: none !important;
  overflow-x: none !important;
  overflow-y: none !important; }

/* --------------------------------------------------
Layout Imports
 -------------------------------------------------- */
.home-page {
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 0.5%;
  text-align: center; }
  .home-page__main-title {
    color: black;
    text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
    text-transform: uppercase;
    font-size: 39px; }
    .home-page__main-title--highlight {
      background-color: rgba(255, 255, 204, 0.5); }
  .home-page__secondary-title {
    font-family: 'Sacramento', cursive;
    letter-spacing: 2px;
    color: black;
    text-shadow: 1px 1px 1px #fff;
    font-size: 48px; }
    .home-page__secondary-title--highlight {
      background-color: black; }

.content {
  margin-top: 212px; }
  .content__input {
    background-color: #ffffcc;
    font-family: 'Cutive Mono', monospace;
    width: 257px;
    height: 33px;
    border: 0; }
    .content__input:focus {
      outline: none !important;
      border: solid 3px #009933; }
    .content__input#name {
      font-size: 16px; }

.play-page__current-score {
  background-color: white;
  text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
  text-align: right;
  font-size: 18px; }
.play-page__content {
  letter-spacing: 2px;
  color: white;
  text-shadow: 1px 1px 1px #000;
  font-size: 28px; }
.play-page__images {
  margin: 0 auto;
  max-height: 450px;
  margin-left: 50px; }
  .play-page__images--rock {
    margin-top: 20px; }

.spin-add {
  -webkit-animation: spin 4s linear;
  -moz-animation: spin 4s linear;
  animation: spin 4s linear; }

* {
  outline: 2px dotted green; }

.result-page__content {
  text-align: center;
  color: black;
  text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
  text-transform: uppercase;
  font-size: 39px; }
  .result-page__content--highlight {
    background-color: rgba(255, 255, 204, 0.5); }
  .result-page__content__image {
    width: 600px;
    display: block;
    margin: 0 auto; }

/* --------------------------------------------------
Component Imports
 -------------------------------------------------- */
.button {
  border: solid 3px #009933;
  background-color: #009933;
  text-shadow: -1px -1px 1px #fff;
  color: #ffffcc;
  text-shadow: 1px 1px 1px #000;
  padding: 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: 'Cutive Mono', monospace; }
  .button:hover {
    background-color: Transparent;
    color: #009933; }
  .button:focus {
    outline: none !important; }
  .button--restart {
    position: relative;
    right: 0;
    bottom: 0; }

/*# sourceMappingURL=application.css.map */
