/* Global Imports */
/* --------------------------------------------------
Base Imports
 -------------------------------------------------- */
/* Variables */
body {
  background-image: url("../img/squared_paper.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  position: relative;
  font-family: 'Cutive Mono', monospace; }

/* --------------------------------------------------
Layout Imports
 -------------------------------------------------- */
/* Homepage */
.home-page {
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 0.5%;
  text-align: center; }
  .home-page__main-title {
    color: #000;
    font-size: 39px; }
  .home-page__secondary-title {
    font-family: 'Sacramento', cursive;
    letter-spacing: 2px;
    color: #009933;
    font-size: 48px;
    margin-top: 3.5%; }

.content {
  margin-top: 16%; }
  .content__input {
    background-color: #ffffcc;
    font-family: 'Cutive Mono', monospace;
    width: 257px;
    height: 33px;
    border: 0; }
    .content__input:focus {
      outline: none !important;
      border: solid 3px #009933; }
    .content__input#name {
      font-size: 16px; }

/* Play Page */
.play-page__current-score {
  background-color: #ffffcc;
  text-align: right;
  font-size: 18px; }
.play-page__content {
  font-family: 'Sacramento', cursive;
  letter-spacing: 2px;
  color: #009933;
  font-size: 42px;
  text-align: center;
  margin-top: 14.75%; }
.play-page__images {
  margin: 0 auto;
  max-height: 450px;
  margin-left: 6.5%;
  margin-top: 3.6%; }
  .play-page__images--rock {
    margin-left: 32.5%; }
.play-page__score {
  text-align: center;
  margin-top: 4.5%;
  font-size: 24px;
  color: #ffffcc; }
  .play-page__score--highlight {
    background-color: #000; }

.spin-add {
  -webkit-animation: spin 4s linear;
  -moz-animation: spin 4s linear;
  animation: spin 4s linear; }

/* Results Page */
.result-page__content {
  text-align: center;
  color: #000;
  text-transform: uppercase;
  font-size: 39px; }
  .result-page__content__image {
    margin: 0 auto;
    margin-top: 20%;
    margin-left: 44%; }

.home-page__main-title, .play-page__current-score, .play-page__score, .result-page__content {
  text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000; }

.home-page__main-title--highlight, .result-page__content--highlight {
  background-color: rgba(255, 255, 204, 0.5); }

/* --------------------------------------------------
Component Imports
 -------------------------------------------------- */
/* Buttons */
.button {
  background-color: Transparent;
  border: solid 3px #009933;
  color: #009933;
  text-shadow: 1px 1px 1px #000;
  padding: 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: 'Cutive Mono', monospace; }
  .button:hover {
    background-color: #009933;
    text-shadow: -1px -1px 1px #fff;
    color: #ffffcc;
    text-shadow: 1px 1px 1px #000; }
  .button:focus {
    outline: none !important; }
  .button--restart {
    float: right;
    margin-top: 2%; }
    .button--restart--result {
      float: right;
      margin-top: 3.4%; }

/*# sourceMappingURL=application.css.map */
