body {
  background-image: url('../img/background.jpeg');
  background-size: 100% auto;
  background-repeat: no-repeat;
  position: relative;
  font-family: 'Cutive Mono', monospace;
  overflow: none !important;
  overflow-x: none !important;
  overflow-y: none !important;

}
