/* Buttons */

.button {
  background-color: Transparent;
  border: solid 3px #009933;
  color: #009933;
  text-shadow: 1px 1px 1px #000;
  padding: 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: 'Cutive Mono', monospace;

  &:hover {
    background-color: #009933;
    text-shadow: -1px -1px 1px #fff;
    color: #ffffcc;
    text-shadow: 1px 1px 1px #000;

  }

  &:focus {
    outline: none !important;
  }

  &--restart {
    float: right;
    margin-top: 2%;

    &--result {
      float: right;
      margin-top: 3.4%;
    }
  }
}
