.button {
  border: solid 3px black;
  background-color: black;
  text-shadow: -1px -1px 1px #fff;
  color: #ffffcc;
  text-shadow: 1px 1px 1px #000;
  padding: 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: 'Cutive Mono', monospace;

  &:hover {
    background-color: Transparent;
  }

  &:focus {
    outline: none !important;
  }

  &--restart {
    margin-left: 1250px;
  }
}
