.button {
  border: solid 3px #009933;
  background-color: #009933;
  text-shadow: -1px -1px 1px #fff;
  color: #ffffcc;
  text-shadow: 1px 1px 1px #000;
  padding: 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: 'Cutive Mono', monospace;

  &:hover {
    background-color: Transparent;
    color: #009933;
  }

  &:focus {
    outline: none !important;
  }

  &--restart {
    position: relative;
    right:    0;
    bottom:   0;
  }
}
