/* Homepage */

.home-page {

  padding-left: 2%;
  padding-right: 2%;
  padding-top: 0.5%;
  text-align: center;

  &__main-title {
  color: $color-text;
  @extend %text-shadow;
  text-transform: uppercase;
  font-size: 39px;

    &--highlight {
      @extend %background-highlight;
    }

  }

  &__secondary-title {

    font-family: 'Sacramento', cursive;
    letter-spacing: 2px;
    color: $color-primary;
    font-size: 48px;
    margin-top: 3.5%;

  }
}


.content {
  margin-top: 16%;

  &__input {
    background-color:  $color-highlight;
    font-family: 'Cutive Mono', monospace;
    width: 257px;
    height: 33px;
    border: 0;

    &:focus {
      outline: none !important;
      border: solid 3px $color-primary;
    }

    &#name {
      font-size: 16px;
    }
  }
}
