.home-page {

  padding-left: 2%;
  padding-right: 2%;
  padding-top: 0.5%;
  text-align: center;

  &__main-title {
  color: black;
  text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
  text-transform: uppercase;
  font-size: 36px;

    &--highlight {
      background-color: white;
    }

  }

  &__secondary-title {

    letter-spacing: 2px;
    color: white;
    text-shadow: 1px 1px 1px #000;
    font-size: 22px;

    &--highlight {
      background-color: black;
    }
  }
}


.content {
  margin-top: 200px;
  color: white;
  text-shadow: -1px -1px 1px #fff;
  font-size: 16px;

  &__input-with-button {
    display:inline-block;
    overflow:hidden;

  }

  &__input {
    font-family: 'Cutive Mono', monospace;
    width: 257px;
    height: 25px;
    background-color: white;
    border: 0;

    &:focus {
      outline: none !important;
      border: solid 3px black;
    }

    &#name {
      font-size: 16px;
    }
  }
}
