/* Play Page */

.play-page {

  &__current-score {
    background-color: $color-highlight;
    @extend %text-shadow;
    text-align: right;
    font-size: 18px;
  }

  &__content {
    font-family: 'Sacramento', cursive;
    letter-spacing: 2px;
    color: $color-primary;
    // text-shadow: 1px 1px 1px #fff;
    font-size: 42px;
    text-align: center;
    margin-top: 14.75%;
  }

  &__images {
    margin: 0 auto;
    max-height: 450px;
    margin-left: 6.5%;
    margin-top: 3.6%;

    &--rock {
      margin-left: 32.5%;
    }

  }

  &__score {
    text-align: center;
    margin-top: 4.5%;
    font-size: 24px;
    color:  $color-highlight;
    @extend %text-shadow;

    &--highlight {
      background-color: $color-text-shadow;
    }
  }

}

.spin-add {
   -webkit-animation:spin 4s linear;
    -moz-animation:spin 4s linear;
    animation:spin 4s linear;
}

* { outline: 2px dotted $color-primary; }
