/* Results Page */

.result-page {

  &__content {
    text-align: center;
    color: $color-text;
    @extend %text-shadow;
    text-transform: uppercase;
    font-size: 39px;
    // float: left;
    // margin-top: 16%;
    // margin-left: 32%;

    &--highlight {
      @extend %background-highlight;
    }

    &__image {
      margin: 0 auto;
      margin-top: 20%;
      margin-left: 44%;
    }
  }
}
